
  input {
    width: 200px;
    height: 30px;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .container {
    display: flex;
    flex-direction: column;
  }
  

