
  input {
    width: 200px;
    height: 30px;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .container {
    display: flex;
    flex-direction: column;
  }
  
  .my-button {
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  
  
  
  
  

